body {
  font-family: 'Helvetica Neue', Helvetica, 'Liberation Sans', Arial, sans-serif;
  background: deepskyblue;
  padding: 160px 0 0;
  overflow-x: hidden;
}

img {
  width: 100%;
}

.slick-slider {
  margin-bottom: 0;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: 8px;
}

.slick-next {
  right: 8px;
}

.slick-prev:hover::before,
.slick-next:hover::before,
.slick-prev:focus::before,
.slick-next:focus::before,
.slick-prev::before,
.slick-next::before {
  color: #131313;
  font-size: 40px;
  opacity: 0.5;
}

.Container {
  position: relative;
}

.Container::before,
.Container::after {
  content: '';
  position: absolute;
  background-position: top right;
  background-repeat: no-repeat;
}

.Container::before {
  top: -75px;
  right: 83px;
  width: 360px;
  height: 400px;
  background-image: url('../images/data.png');
  background-size: 320px auto;
}

.Container::after {
  bottom: 102px;
  left: -35px;
  width: 140px;
  height: 200px;
  background-image: url('../images/eye.png');
  background-size: 120px auto;
  transform: rotate(-15deg);
}

.Paper {
  background: white;
  z-index: 0;
}

.Col {
  position: relative;
}

h1 {
  font-family: 'Source Code Pro';
  padding: 24px 6px 0;
  font-weight: 600;
  text-transform: uppercase;
}

article section:nth-of-type(n+2) {
  border-top: 1px solid #e0e0e0;
}

section {
  display: block;
  padding: 24px 0;
}

section h2 {
  font-family: 'Helvetica Neue', Helvetica, 'Liberation Sans', Arial, 'cwtexqhei';
  padding-top: 12px;
}

aside {
  font-family: 'Source Code Pro';
  font-weight: 300;
  padding: 24px 0 24px 20px;
  position: relative;
  font-size: 1.25rem;
}

aside::before {
  content: 'Resume';
  position: absolute;
  top: -40px;
  left: -52px;
  z-index: -100;
  font-size: 6em;
  font-family: 'Oswald';
  color: whitesmoke;
  opacity: .9;
}

aside img {
  width: 48px;
  margin-top: -4px;
}

aside p:last-of-type .next {
  display: none;
}

.declare {
  color: deepskyblue;
}

.declare, .key {
  font-weight: 400;
}

.key {
  display: inline-block;
  width: 3.2em;
}

.key i {
  padding-right: 1.6em;
}

.data {
  text-indent: .5em;
  margin: .5em 0;
}

.calendar {
  width: 4.2em;
  height: 4.2em;
  text-align: center;
  background: white;
  overflow: hidden;
  margin: 0 auto;
}

.calendar.start::before {
  content: '';
  position: absolute;
  top: 1px;
  left: calc(50% - 1px);
  z-index: -100;
  display: block;
  height: calc(100% - 2px);
  border-left: 2px solid #9C9C9C;
}

.calendar.end {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -2.1em;
}

.YYYY {
  background: #C04248;
  color: white;
  padding: 4px 0 2px;
  font-size: 12px;
}

.date {
  position: relative;
}

.MM {
  position: absolute;
  top: 1px;
  left: 11px;
  font-size: 1.2em;
}

.DD {
  position: absolute;
  top: 14px;
  right: 12px;
  font-size: 12px;
}

.Card {
  margin-bottom: 16px;
}

.CardTitle span:first-child {
  font-family: 'Helvetica Neue', Helvetica, 'Liberation Sans', Arial, sans-serif;
}

.Project.Card img {
  width: 35px;
  padding-top: 4px;
}

footer {
  text-align: center;
  padding: 80px 0;
}

footer a {
  color: #C04248;
  font-weight: 600;
}

footer a:hover {
  color: #FF3F48;
  text-decoration: none;
}

@media only screen and (min-width: 728px) and (max-width: 1080px) {
  aside {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Container::after {
    bottom: 38px;
    left: -58px;
    background-size: 80px auto;
  }

  aside {
    font-size: 1.1rem;
  }

  aside::before {
    font-size: 4em;
    top: -52px;
    left: -32px;
  }

  h1 {
    padding-left: 0;
  }

  .Col {
    margin-bottom: 20px;
  }

  .calendar {
    margin: 0;
  }

  .calendar.start {
    float: left;
  }

  .calendar.start::before {
    content: '';
    top: calc(50% - 1px);
    left: 2.1em;
    width: 50%;
    border-top: 2px solid #9C9C9C;
    border-left: none;
  }

  .calendar.end {
    position: static;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 620px) {
  .Container::before {
    top: -36px;
    right: 36px;
    background-size: 160px auto;
  }

  .Card.project-card i,
  .Card.project-card img {
    margin-right: 10px !important;
  }

  .Card.project-card img {
    width: 32px;
  }

  .Card.project-card i {
    font-size: 2.8em;
  }

  .CardHeader {
    height: 56px !important;
    padding: 8px 0 8px 8px !important;
  }

  .CardHeader span:last-child {
    font-size: 12px !important;
  }
}
